/* @media screen and (max-height:) */
@media screen and (max-width:1130px) {
    .box h1{
        margin-top: 1vh;
        width: 60vw;
    }
    .header{
        width: 65vw;
        /* height: 100vh; */
    }
    .box{
        width: 65vw;
    }
    .box img{
        width: 20vw;
        height: 30vh;
        margin: 1vh;
    }
    .easyBtn,.hardBtn{
        font-size: 1.2rem;
    }
    #guess{
        width: 28vw;
        font-size: 1.5rem;
    }
    #enter{
        width: 13vw;
    }
    #start{
        margin-top: 2vh;
        width: 30vw;
        font-size: 2rem;
        margin-left: 15vw;
    }
    #note  h1{
        font-size: 2.4rem;
    }
}
@media screen and (max-width:767px){
   .box{
    width: 80vw;
    height: 80vh;
   }
   .item{
    width: 70vw;
   }
   .header{
    width: 65vw;
   }
   .box img{
    width: 70vw;
    margin: 2vh;
   }
   .easyBtn,.hardBtn{
    /* margin-top: 2vh; */
    font-size: 1.4rem;
    width: 60vw;
    }
    .easyBtn{
        margin-top: 2vh;
    }
    #start{
        width:50vw ;
        margin-left: 7vw;
    }
    #guess{
        width: 40vw;
        font-size: 1.1rem;
    }
    #enter{
        width: 10vw;
        font-size: 1.2rem;
        /* width:fit-content; */
        width: 15vw;
    }
    .stats {
        font-size: 1.2rem;

    }
}