@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') ;

body {
  background: #fff;
  animation: scroll 70s linear infinite;
  /* background: url("https://images.unsplash.com/photo-1612404748636-568ca4155994?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"), #111111; */
  background: url("https://images.unsplash.com/photo-1553481187-be93c21490a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"), #111111;
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}


@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  body {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 32vw;
    height: 85vh;
    background-color: #039fdd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    box-shadow: 1px 1px 15px grey;

}
.item{
    padding: 1vh;
    width: 28vw;
    height: 80vh;
}
.buttons{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2vh;
    /* font-size: rem; */
}
.easyBtn,.hardBtn{
    font-size: 1.7rem;
    width: 20vw;
    height: 7.5vh;
    border-radius: 15px;
    background-color: dimgray;
    color: white;
    cursor: pointer;
}
.hardBtn:hover{
    box-shadow: 0 0 5px white;
    transition: 0.2s ease-in-out;
    font-size: 1.75rem;
    width: 20.4vw;
    height: 7.6vh;
}
.easyBtn:hover{
    box-shadow: 0 0 5px white;
    transition: 0.2s ease-in-out;
    font-size: 1.75rem;
    width: 20.4vw;
    height: 7.6vh;
}
.box img{
    width: 26vw;
    height: 40vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

/* game area */
.gamearea{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start{
    font-size: 1.7rem;
    width: 20vw;
    height: 7.5vh;
    display: flex;
    border-radius: 15px;
    background-color: dimgray;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 5vw;
}
#start:hover{
    box-shadow: 0 0 5px white;
    transition: 0.2s ease-in-out;
    font-size: 1.75rem;
    width: 20.4vw;
    height: 7.6vh;
}
.item-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gamearea h1{
    margin: 1.2vh 0;

}
#note  h1{
    font-size: 2.4rem;
}
.gamearea .box{
    padding: 20px;
}
#guess{
    margin: 15px 0;
    font-size: 1.6rem;
    height: 8vh;
    border-radius: 10px;
    text-align: center;
}
#enter{
    width: 6vw;
    font-size: 1.6rem;
    height: 8vh;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin-left: 4px;
}
#enter:hover{
    box-shadow: 0 0 4px white;
    transition: 0.1s ease-in;
}
.stats{
    /* margin: 0 50px; */
    margin-top: 30px;
    font-size: 1.2rem;
}
